body {
  font-family: "Nunito", sans-serif;
}

.quiz-start-button {
  background-color: #1fb8ff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.8rem 3rem;
  transition: background-color 0.3s ease-in-out;
}
.quiz-start-button:hover {
  background-color: #16203b; /* Slightly darker navy */
  cursor: pointer;
}

.progress-bar {
  background-color: #ABE2FB !important;
}

.hint-button{
  background-color: #fff; /* Custom background color */
  border-color: #77d3fd;   /* Custom border color */
  color: #77d3fd;      
  border: 2px solid #77d3fd;
  font-weight: bold;
  font-size: 1.2rem;
}
.hint-button:hover {
  background-color: #77d3fd; /* Change background color on hover */
  color: #fff;
  border-color: #77d3fd;
  font-weight: bold;
  font-size: 1.2rem;
}