body {
  font-family: "Nunito", sans-serif;
}

.quiz-start-button {
  background-color: #1fb8ff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.8rem 3rem;
  transition: background-color 0.3s ease-in-out;
}
.quiz-start-button:hover {
  background-color: #13275e; /* Slightly darker navy */
  cursor: pointer;
}

.navy {
  color: #13275e;
}

.nav-button {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  background-color: white;
  color: #abe2fb;
  border: 2px solid #abe2fb;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color all 0.1s ease;
  pointer-events: auto;
}

.nav-button:hover {
  background-color: #abe2fb;
  transition: background-color all 0.1s ease;
  pointer-events: auto;
  color: white;
}

.nav-button:focus {
  pointer-events: none; /* Prevent interaction during focus */
}

.nav-button:active {
  pointer-events: auto; /* Re-enable interaction */
}

.progress-bar {
  background-color: #abe2fb !important;
}

.hint-button {
  background-color: #fff; /* Custom background color */
  border-color: #77d3fd; /* Custom border color */
  color: #77d3fd;
  border: 2px solid #77d3fd;
  font-weight: bold;
  font-size: 1.2rem;
}
.hint-button:hover {
  background-color: #77d3fd; /* Change background color on hover */
  color: #fff;
  border-color: #77d3fd;
  font-weight: bold;
  font-size: 1.2rem;
}

@keyframes scalePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-once {
  animation: scalePulse 1.2s ease-in-out infinite;
  /* transform-origin: center left; */
}
